<form
  class="form-class"
  role="form"
  method="post"
  accept-charset="UTF-8"
  id="forgot-nav"
  noValidate
  [formGroup]="forgotResetPasswordForm"
>
  <div class="container" style=" width: 30%;">
    <div class="jumbotron">
      <h2 class="reset"> Reset Password </h2>
      <div class="form-group">
        <label for="password" class="color">Password</label>
        <input
          type="password"
          class="form-control"
          placeholder="New Password"
          formControlName="password"
          required
        />
      </div>
      <br />
      <div class="form-group">
        <label for="confirmpassword" class="color">
         Confirm Password </label
        >
        <input
          type="password"
          class="form-control"
          placeholder="Conform Password"
          formControlName="confirmpassword"
          required
          compare="password"
        />
      </div>
      <button
        style="position:relative"
        class="btn btn-primary"
        (click)="forgotpswReset()"
      >
      Reset Password
      </button>
    </div>
  </div>
</form>
