.navbar {
  backdrop-filter: saturate(180%) blur(20px);
  //border-bottom: 0.1px solid #616161;
  box-shadow: 0px 2px 17px rgba(1, 0, 0, 0.76);
  min-height: 80px;
  background-color: #252734b5 !important;
}
