<div class="container-fluid px-5">
  <div class="row px-5">
    <div
      class="col-6 col-sm-6 col-lg-3"
      *ngFor="let movie of cards; index as i"
    >
      <div class="m-1 p-2" (click)="onCardSelect(movie)">
        <div class="card p-2" [ngStyle]="{ 'animation-delay': +(i / 2) + 's' }">
          <picture class="m-3 cardoverlay">
            <img
              class="card-img-top roundedImg"
              src="{{ movie.posterUrl }}"
              alt="Card image"
              style=""
            />
          </picture>
          <div class="card-body cardbodycnt pt-1 pr-3 pl-3 pb-1 mr-3 ml-3 mb-3">
            <div class="card-title position-relative">
              <div class="text-white">{{ movie.movieName }}</div>
              <div class="small text-white-50">Tamil</div>
              <div class="ratingcnt">
                <circle-progress
                  [percent]="50"
                  [radius]="20"
                  [outerStrokeWidth]="5"
                  [innerStrokeWidth]="25"
                  [outerStrokeColor]="'#333'"
                  [innerStrokeColor]="'#ccc'"
                  [animation]="true"
                  [animationDuration]="1000"
                  [title]="8"
                ></circle-progress>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
