<div class="row mt-4 mb-4 bg-dark">
	<div class="container">
		<div class="d-flex  text-white justify-content-between">
			
				<nav class="nav font-weight-bold">
					<a class="nav-link p-4 active bg-info font-weight-bold" href="#">Nowshowing</a>
					<a class="nav-link p-4 disabled" href="#">Upcoming</a>
          <a class="nav-link p-4 disabled" href="#">Venues</a>
				</nav>
			

			
				<nav class="nav">
					<a class="nav-link p-4 active" href="#">Genere</a>
					<a class="nav-link p-4 active" href="#">Filter</a>
				</nav>
			
		</div>
	</div>
</div>